<header>
  <style>
    div.title {
      background: red;
      color: var(--text);
    }

    div.date-of-posting {
      background: green;
      color: gray;
    }

    div.date-of-last-edit {
      background: orange;
      color: black;
    }
  </style>
</header>

<body>
  <h1 class="title">My Mechanical Keyboard Journey</h1>
  <div class="date-of-posting">xxx</div>
  <div class="tags">#mechanical-keyboards, #experience</div>
  <div class="description">
    It started with recomendations from classmates about how they were great for gaming.
    It later spiraled into spending considerable amounts of time on r/MechanicalKeyboards,
    and considerable amounts of money on group-buys, parts, and.... Artisan keycaps??
  </div>

  <img class="preview-img-url" src="{{url_for('static', filename='images/post_one.png')}}" />

  <h3>In The Beginning</h3>
  <p>
    I was at the annual LAN party hosted by the IT-teachers at my school.
    It was custom to let the IT-kids bring their setups to school when nearing the end of the semester.
    Every IT kid ("kid" as-in "16 - 17 year olds"), were, offcourse, a gamer. It was the one thing every student had in common.
    So, offcourse, instead of everyone going off on a trip or doing anything physical what-so-ever, the teachers figured
    it would be in better taste with the students to hold a 12-hour over-night LAN party in some empty classroom at school.
  </p>
  <p>
    <strong>They were very correct, and I appreaciate them taking it into consideration, later becoming costumary to this specific direction of study.</strong>>
  </p>
  <p>
    We were all set-up, ready to play each our games (about 40% on CS:GO, 30% WoW, 20% LoL, 10% either Rocket League, Farming Simulator, My Summer Car, etc etc...),
    myself included playing CS:GO. When we all fell silent, but still talking to our teamates, I caught something in the athmosphere that i hadn't considered:
    While everyone had different kind of gaming-mice, everyone used mecahincal keyboards! No membrane HP, or cheap "included with your desktop" keyboards.
    It caught my attention when taking off my headphones. All the MX Blue LOUD AND CLICKY switches that echoed across the bare classroom - now filled with gaming desktops and monitors.
  </p>
</body>
