<!--
<!DOCTYPE html>
-->

<header>
  <!--
  <meta charset="UTF-8" />
  <meta name="viewport" content="initial-scale=1.0, shrink-to-fit=yes">
  <link rel="icon" href="/favicon.ico" />
  <title>Post three</title>
  -->

  <style>
    div.title {
      background: red;
      color: var(--text);
    }

    div.date-of-posting {
      background: green;
      color: gray;
    }

    div.date-of-last-edit {
      background: orange;
      color: black;
    }
  </style>
</header>

<body>
  <h1 class="title">Post three</h1>
  <div class="date-of-posting">16.02.2025</div>
  <div class="date-of-last-edit">16.02.2025</div>
  <div class="tags">#here, #we, #store, #tags</div>
  <div class="description">
    In this description, we write what the blog post is about,
    like an intro, or maybe a TL;DR.
  </div>
  <img class="preview-img-url" src="{{url_for('static', filename='images/post_two.webp')}}" />

  <p>
    Here goes the main content of the post.<br>
    See those classes above?<br>
    Those are needed so that the Flask application<br>
    can find them and serve the data inside to the<br>
    frontend via JSON.<br>
    SO REMEMBER TO INCLUDE THEM!
  </p>
  <p>
    Here is another paragraph, to distinguish between two paragraphs.
  </p>
</body>
